<nav class="navbar navbar-expand-lg bg-warning px-3 justify-content-between">
  <span class="navbar-brand fw-bold text-dark">Sistema Tickets</span>

  <div class="d-flex align-items-center gap-3">
    <a routerLink="/inicio" class="text-dark text-decoration-none">Inicio</a>
    <a id="tickets" routerLink="/solicitudes" class="text-dark text-decoration-none">Tickets</a>

    <span class="text-dark fw-semibold me-3" *ngIf="auth.usuarioActual">
      Bienvenido, {{ auth.usuarioActual.nombre }}
    </span>

    <button class="btn btn-dark btn-sm" (click)="cerrarSesion()">Cerrar sesión</button>
  </div>
</nav>
