<div class="card border-warning mb-4">
  <div class="card-header bg-warning text-dark fw-bold text-uppercase">
    Detalles Ticket
  </div>
  <div class="card-body">
    <div class="row mb-2">
      <div class="col-sm-2"><strong>Nombre completo:</strong></div>
      <div class="col-sm-2">{{ usuarioCreador.nombre }}</div>
      <div class="col-sm-2"><strong>Fecha:</strong></div>
      <div class="col-sm-2">{{ ticket.fechaSolicitud }}</div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-2"><strong>E-mail:</strong></div>
      <div class="col-sm-2">{{ usuarioCreador.correo }}</div>
      <div class="col-sm-2"><strong>Estado:</strong></div>
      <div class="col-sm-2">{{ ticket.estado }}</div>

    </div>
    <div class="row mb-2">
      <div class="col-sm-2"><strong>Teléfono:</strong></div>
      <div class="col-sm-2">{{ usuarioCreador.telefono }}</div>
      <div class="col-sm-2"><strong>Nivel de urgencia:</strong></div>
      <div class="col-sm-2">{{ ticket.prioridad }}</div>

    </div>
    <div class="row mb-2">
      <div class="col-sm-2"><strong>Sector:</strong></div>
      <div class="col-sm-2">{{ ticket.sector }}</div>
    </div>
    <div class="row">
      <div class="col-sm-2"><strong>Solicitud:</strong></div>
      <div class="col-sm-10">{{ ticket.descripcion }}</div>
    </div>
  </div>
</div>
